<% provide(:title, 'Edit Task') %>
<h1>Create New Task</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@task, url: user_task_path(@user.id, @task.id), method: :put) do |f| %>
      <%= render 'shared/task_error_messages' %>
    
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :priority %>
      <%= f.number_field :priority, in: 0..10, step: 1, class: 'form-control' %>

      <%= f.label :due_date %>
      <%= f.text_field :due_date, class: 'datepicker form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, size: "24x6", class: 'form-control' %>


      <%= f.submit "Update task", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<script>
  $(document).ready(function(){
    var val = $(".datepicker").val();
    var date = new Date(val)
    $(".datepicker").datepicker("update", date)
  });
</script>